* {
    box-sizing: border-box;
}

body {
    background-color: rgb(152, 152, 235);
    font-family: 'Josefin Sans';
    /* text-align: center; */
}
.container {
    width: 50vw;
    height: auto;
    padding: 50px;
    margin: 60px auto;
    /* border: 1px solid grey; */
    border-radius: 4%;
    background-color: white;
}

#title {
    text-align: center;
    margin-bottom: 50px;
}
.topContainer {
    width: 100%;
    height: auto;
    display: block;
}

#inputDiv {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    
}
#searchField {
    width: 12rem;
    height: 2rem;
    font-size: 15px;
    font-weight: bold;
    color: rgb(45, 45, 252);
}

.icon {
    width: 20px;
    height: 20px;
}
#cityCountry {
    justify-content: space-around;
    width: 100%;
    height: auto;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
    display: none;
}
#countryDiv {
    margin-right: 20px;
    width: 30%;
}
#cityDiv {
    margin-left: 20px;
    width: 30%;
}
#localTime {
    margin-left: 10px;
    width: 40%;
}

#flexOne {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.weatherImgDiv {
    width: 48%;
    height: 150px;
    text-align: center;
}
.image {
    width: 6rem;
    height: 6rem;
}
#degreeDiv {
    width: 48%;
    height: 150px;
    text-align: center;
    font-weight: 700;
}
.tempSpan {
    width: 60%;
    height: 60%;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-radius: 12px;
    background-color: rgb(246, 248, 105);
}

h3 {
    text-align: center;
}

#windInfoDiv {
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: bold;
    display: none;
}

#forecastDiv {
    font-family: 'Poppins';
    font-size: 14px;
    display: none;
}

.forecastFlex {
    display: flex;
    justify-content: space-around;
}
.flex2 {
    width: 45%;
    display: grid;
    place-items: center;
    
}
.flex3 {
    width: 45%;
    display: grid;
    place-items: center;
}