* {
    box-sizing: border-box;
}

body {
    background-color: rgb(152, 152, 235);
    font-family: 'Josefin Sans';
}
.container {
    width: 50vw;
    height: auto;
    padding: 50px;
    margin: 60px auto;
    border-radius: 4%;
    background-color: white;
}

#title {
    text-align: center;
    margin-bottom: 50px;
}
.topContainer {
    width: 100%;
    height: auto;
    display: block;
}

#inputDiv {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    
}
#searchField {
    width: 12rem;
    height: 2rem;
    font-size: 15px;
    font-weight: bold;
    color: rgb(45, 45, 252);
}

.icon {
    width: 20px;
    height: 20px;
}
hr {
    color: rgb(152, 152, 235)
}
#cityCountry {
    justify-content: space-around;
    width: 100%;
    height: auto;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
    display: none;
}
#countryDiv {
    margin-right: 20px;
    width: 30%;
}
#cityDiv {
    margin-left: 20px;
    width: 30%;
}
#localTime {
    margin-left: 10px;
    width: 40%;
}

#flexOne {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.weatherImgDiv {
    width: 48%;
    height: 150px;
    text-align: center;
}
.image {
    width: 6rem;
    height: 6rem;
}
#degreeDiv {
    width: 48%;
    height: 150px;
    text-align: center;
    font-weight: 700;
}
.tempSpan {
    width: 60%;
    height: 60%;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-radius: 12px;
    background-color: rgb(246, 248, 105);
}

h3 {
    text-align: center;
}

#windInfoDiv {
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: none;
}

#forecastDiv {
    font-family: 'Poppins';
    font-size: 14px;
    display: none;
}

.forecastFlex {
    display: flex;
    justify-content: space-around;
}
.flex2 {
    width: 45%;
    display: grid;
    place-items: center;
    
}
.flex3 {
    width: 45%;
    display: grid;
    place-items: center;
}
.forecastpg {
    text-align: center;
    font-weight: 600;
}

@media screen and (min-width: 320px) and (max-width: 599px){
    #title {
        margin-bottom: 50px;
    }
    .container {
    width: 80vw;
    height: auto;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    }
    
    #searchField {
        width: 9rem;
        font-size: 13px;
        font-weight: bold;
    }
    .icon {
        width: 17px;
        height: 17px;
    }
    #flexOne {
        display: flex;
        flex-direction: column;
    }
    #cityCountry {
        display: flex;
        flex-direction: column;
        place-items: center;
        text-align: center;
        font-size: 13px;
    }
    #countryDiv {
        margin: 0;
        width: 80%;
    }
    #cityDiv {
        margin: 0;
        width: 80%;
    }
    #localTime {
        margin: 0;
        width: 80%;
    }
    .weatherImgDiv {
        display: grid;
        place-items: center;
        width: 100%;
        height: 100px;
    }
    #degreeDiv {
        display: grid;
        place-items: center;
        width: 100%;
        height: 120px;
    }
    .tempSpan {
        width: 40%;
        height: 70%;
        font-size: 2rem;
    }

    #windInfoDiv {
        width: 90%;
        height: auto;
        font-size: 13px;
    }
    #forecastDiv {
        font-size: 14px;
        margin: 0 auto;
        place-content: center;
        display: none;
    }
    .forecastFlex {
        display: flex;
        flex-direction: column;
    }
    .flex2 {
        width: 95%;
        display: grid;
        place-items: center;
    }
    .flex3 {
        width: 95%;
        display: grid;
        place-items: center;
    }
}

@media screen and (min-width: 600px) and (max-width: 1075px){
    .container {
    width: 90vw;
    height: auto;
    padding: 30px;
    }

    #cityCountry {
        font-size: 16px;
        text-align: center;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    #countryDiv {
        margin: 0;
        width: 70%;
    }
    #cityDiv {
        margin: 0;
        width: 70%;
    }
    #localTime {
        margin: 0;
        width: 70%;
}
}